<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RepeatIt - Analytics</title>
    <link href="public/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>

{{{body}}}

<script src="public/js/jquery-2.0.3.min.js"></script>
<script src="public/js/underscore-min.js"></script>
<script src="public/js/backbone-min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="public/js/moment.min.js"></script>
<script src="public/js/highstock.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>
<script type="text/template" id="usageTemplate">
    <tr>
        <td><%-data.recipeName%></td>
        <td><%-moment(data.at).fromNow()%></td>
        <td><%-data.internalIp%></td>
        <td><%-data.externalIp%></td>
        <td><%-(data.totalTime/1000)+' seconds'%></td>
    </tr>
</script>
<script src="views/main.js"></script>
</body>
</html>
