<div class="container">
	<div class="row">
	<div id="container" style="height:400px;width:auto;"></div>
	</div>
       <div class="row">
        <h3>Live</h3>
        <table class="table table-responsive table-striped table-bordered" id="usageList">
            <thead>
            <tr>
                <th>Recipe</th>
                <th>User Id</th>
                <th>When</th>
                <th>Internal IP</th>
                <th>External IP</th>
				<th>Time Taken</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
