<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Growth</h3>
            <img src="http://placehold.it/450x250">
        </div>
        <div class="col-6">
            <h3>Time</h3>
            <img src="http://placehold.it/450x250">
        </div>
    </div>
    <div class="row">
        <h3>Live</h3>
        <table class="table table-responsive table-striped table-bordered" id="usageList">
            <thead>
            <tr>
                <th>Recipe</th>
                <th>When</th>
                <th>Internal IP</th>
                <th>External IP</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>